.sw_container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 30px 10px;
  width: 100%;
}

.sw_details {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sw_value {
  align-self: right;
  display: block;
  font-weight: 600;
}
.sw_name {
  align-self: center;
  margin-top: 10px;
}

.sw_stars {
  margin-top: 3px;
  display: flex;
  justify-content: flex-end;

  width: 100%;
}
.sw_star {
  cursor: pointer;
  color: orange;
}

.sw_button_wrapper{
  display: flex;
  gap: 10px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.sw_btn_outline{
  padding: 5px 8px;
  border-radius: 20px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.sw_talk{
  border: 1px solid #9c9c9c;
  color: #9c9c9c;
}

.sw_follow{
  border: 1px solid #e95e51;
  color: #e95e51;
}
