.home_toSell {
  display: none;
}

.move_to_top {
  position: fixed;
  bottom: 50px;
  right: 100px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_cat_wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .home_toSell {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 20px;
    font-size: 16px;
    width: 70%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #e95e51;
    color: #fff;
    border: none;
  }

  .move_to_top {
    bottom: 80px;
    right: 20px;
  }

  .home_cat_wrapper {
    display: block;
  }
}
