.chat {
  background-color: #fce7e5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat_container {
  border-radius: 10px;
  border: 2px solid white;
  height: 90%;
  width: 70%;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.chat_main {
  flex: 2;
  position: relative;
}

.sidebar_container {
  flex: 1;
  background-color: #8c3831;
  overflow-y: scroll;
}

/* nav bar  */

.logo {
  height: 40px;
  width: 40px;
  object-fit: cover;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  background-color: #692a24;
}

.nb_photo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  object-fit: cover;
}
.nb_user {
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.nb_user span {
  color: #fdefee;
}

/* chats  */

.chats {
  margin: 10px 0px;
  display: flex;
  gap: 15px;
  padding: 10px;
  cursor: pointer;
}

.chats:hover {
  background-color: #692a24;
}

.chats_active {
  background-color: #692a24;
}

.name_seens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_info_name {
  font-size: 18px;
  font-weight: 600;
  color: #fdefee;
}

.chat_info_msg {
  font-size: 14px;
  color: #fdefee;
}

.chat_img_wrapper {
  height: 50px;
  width: 50px;
  position: relative;
}

.chats_info-container {
  width: 100%;
}

.chat_activeUser {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #00e676;
  top: 10px;
  right: -3px;
  border-radius: 50%;
}

.chats_img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
}

/* chat */

.chat_header {
  height: 60px;
  background-color: #af473d;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.chat_name {
  margin-left: 20px;
  color: #fdefee;
}

.typing_icon {
  position: absolute;
  bottom: 55px;
  left: 10px;
}

.typing_icon span {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #e95e51;
  border-radius: 50%;
  margin-right: 5px;
  animation: wave 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

.typing_icon span:last-child {
  margin-right: 0;
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-10px);
  }

  40%,
  100% {
    transform: translateY(0);
  }
}

/* messages */
.messages {
  background-color: #fdefee;
  height: calc(100% - 110px);
  padding: 10px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #fce7e5;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ee897f;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e95e51;
}

/* inputs */

.input {
  height: 50px;
  background-color: white;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_input {
  width: 100%;
  border: none;
  outline: none;
}

.chat_input::placeholder {
  color: #9c9c9c;
}

.send {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.chat_btn {
  padding: 5px 10px;
  border: 3px solid #ee897f;
  background-color: #e95e51;
  border-radius: 5px;
  color: #fdefee;
  cursor: pointer;
}

/* message */

.message {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.friend_img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message.owner .friend_img {
  display: none;
}

.message_content .message_text {
  background-color: white;
}
.chat_info_name.message_text_unseen {
  color: #31120b;
  font-weight: 800;
  font-size: 22px;
}

.chat_info_msg.message_text_unseen {
  font-size: 18px;
  color: #31120b;
  font-weight: 800;
}

.message.owner {
  flex-direction: row-reverse;
}

.message_done {
  float: right;
  margin-top: -20px;
}

.message.owner p {
  background-color: #e95e51;
  color: #fdefee;
  border-radius: 10px 0 10px 10px;
}

.message.owner .message_content {
  align-items: flex-end;
}

.message_info span {
  font-size: 12px;
}

.msg_date {
  color: gray;
  font-size: 12px;
}

.message_content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.message_content p {
  background-color: #fdefee;
  padding: 10px 20px;
  border-radius: 0 10px 10px 10px;
  max-width: max-content;
}

.message_content img {
  width: 100%;
  object-fit: cover;
}

.message_content .mc_image {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #e95e51;
}

.close_chat {
  display: none;
}

.ch_list {
  display: none;
}

@media only screen and (max-width: 600px) {
  .chat_container {
    height: 100vh;
    width: 100%;
    display: block;
  }

  .sidebar_container {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }

  .sidebar_container.sidebar_container_active {
    left: 0;
  }

  .messages {
    height: calc(100vh - 110px);
  }

  .send {
    gap: 10px;
  }

  .ch_list {
    display: block;
    font-size: 18px;
    color: #f8cdc9;
    font-weight: 600;
    padding: 5px 10px;
    border: 2px solid #ee897f;
    border-radius: 10px;
    align-items: center;
    margin-right: 10px;
  }
}
